@media(max-width: 700px) {
   
    #navbar {
        height: 180px;
    }

    #navbar-container {
        flex-direction: column;
        padding: 20px 0;
    }

    #navbar-items {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    #navbar-itmes li:nth-child(2) {
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
    }

    #mostruario-container {
        padding: 40px;
    }

    #mostruario-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .mostruario {
        width: 50%;
    }

    #servicos-container {
        grid-template-columns: 1fr;
    }

    #servicos-container .servicos:nth-child(2) {
        margin: 15px 0;
    }

    #caracteristicas-container {
        flex-direction: column;
    }

    #servicos-imagem {
        width: 90%;
    }

    .servicos {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .depoimentos {
        flex-direction: column;
        text-align: center;
    }

    #trabalhos-container {
        grid-template-columns: 1fr;
    }

    .trabalhos-imagem {
        width: 100%; 
    }

}