@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
Resete no body
*/
body, ul, li, p{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 1.2rem;
	color: white;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

.logo {
	max-width: 90px;
    max-height: 90px;
    width: auto;
    height: auto;
}

.header {
	width: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.menu {
	display: flex;
}

.menu li {
	margin-left: 20px;
}

menu li a {
	display: block;
	padding: 20px;
}

.banner {
	width:100%;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    letter-spacing: 2px;
}

.escolha-estilo {
	width: 100%;
	background-color: #EC8C08;
	color: #eee;
}

.quemsomos p {
	margin: 10px;
	color: black;
	text-align: justify;
}

/*-- Nossos Serviços 
#servicos {
	width: 100%;
	background: #eee;
	color: #eee;
	padding: 50px;
}

#servicos-container {
	width: 100%;
	margin: auto;
	display: grid;
	grid-column-gap: 5px;
}

.servicos {
	display: flex;
	flex-direction: column;
	padding: 5px;
	border-radius: 10px;
}
--*/
/*-- Rodapé --*/
#footer {
    background: #EC8C08;
    color: #eee;
    padding: 30px;
    text-align: center;
}
