@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
Resete no body
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, ul, li, p{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 1.2rem;
	color: white;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

.logo {
	max-width: 90px;
    max-height: 90px;
    width: auto;
    height: auto;
}

.header {
	width: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}

.menu {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.menu li {
	margin-left: 20px;
}

menu li a {
	display: block;
	padding: 20px;
}

.banner {
	width:100%;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
	flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    letter-spacing: 2px;
}

.escolha-estilo {
	width: 100%;
	background-color: #EC8C08;
	color: #eee;
}

#quemsomos {
	background-color: #f3f3f3f3;
	width: 100%;
}

.quemsomos p {
	margin: 10px;
	color: black;
	text-align: justify;
}

/*-- Clentes --*/
#clientes {
	width: 100%;
	background: #eee;
	color: #111;
	padding: 50px;
}

#clientes-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	padding: 15px;
}

.clientes {
	display: inline-block;
	width: 25%;
}

/*-- O que fazemos --*/
#features {
	width: 100%;
	background: #222;
	color: #eee;
	padding: 50px;
}

#features-container {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 50px;
}

.features {
	display: flex;
	flex-direction: column;
	background: #333;
	padding: 20px;
	border-radius: 5px;
}

.features-title {
	font-size: 1.5rem;
	font-weight: bold;
}

/*-- Nossos Produtos --*/
#produtos {
	width: 100%;
	padding: 50px;
}

#produtos-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#item {
	width: 650px;
}

#item .item {
	display: flex;
	padding: 10px;
	margin: 15px 0;
	font-size: 1.2rem;
}

/*-- Testemunhos --*/
#testemunhos {
	width: 100%;
	background: #222;
	color: #eee;
	padding: 50px;
}

.testemunhos {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	background: #333;
	padding: 15px;
	margin: 15px 0;
	border-radius: 5px;
}

#testemunho-container {
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.testemunhos-image {
	height: 200px;
	width: auto;
	border-radius: 50%;
	margin: 15px 0;
}

/*-- Galeria --*/
#galeria {
	width: 90%;
	margin: auto;
	padding: 20px;
}

#Galeria-container {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 30px;
	justify-items: center;
}

.galeria-image {
	display: inline-block;
	width: 380px;
	height: 280px;
	border-radius: 5px;
}

/*-- Contato --*/
#contato {
	width: 100%;
	height: auto;
	margin: auto;
	flex-wrap: wrap;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px #666;
}

#contato-container {
	width: 80%;
	height: auto;
	flex: 50%;
}

/*-- Rodapé --*/
#footer {
    background: #EC8C08;
    color: #eee;
    padding: 30px;
    text-align: center;
}
