@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
Resete no body
*/

body, ul, li, p{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 1.2rem;
	color: white;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

.logo {
	max-width: 90px;
    max-height: 90px;
    width: auto;
    height: auto;
}

.header {
	width: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.menu {
	display: flex;
}

.menu li {
	margin-left: 10px;
}

menu li a {
	display: block;
	padding: 10px;
}

.banner {
	width:100%;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    letter-spacing: 2px;
}

/*-- Rodapé --*/

#footer {
    background: #222;
    color: #eee;
    padding: 30px;
    text-align: center;
}
